@import "../../scss/variables.scss";

.cake-section{ 
  h2{
    color: $text-primary-color;
    font-size: 1.5rem;
    font-weight: 500;
  }

  img{
    width: 100%;
    padding-left: 10px;
  }
  .form-check-input{
    width: 24px;
    height: 24px;
    display: block;
  }

  @include to-mobile{
    h2{
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
  
}


